* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container {
    width: 70%;
    margin: auto;
}

h1 {
    display: inline-block;
    color: blue;
    background-color: yellow;
}

.green-square:hover h2 {
    color: blue;
}

.green-square {
    background-color: lightgreen;
    margin: 20px 0;
    height: 300px;
    text-align: center;
    padding: 30px;

}

h2 {
     background-color: lightpink;
}